Repository Kuli-HYF/kuli-frontend, pull requests merged in 2022-06, with the labels that each got.

#1 update readme test
  README.md
Labels: test

#3 landing page first version
  .vscode/settings.json
  landing-page/landing-page.css
  landing-page/landing-page.html
  public/assets/bg-img.jpeg
  public/assets/logo.png
Labels: landing page

#4 Aviv feature api fetch functions
  public/assets/icon.png
  public/index.html
  src/App.css
  src/App.js
  src/api/delete.js
  src/api/get.js
  src/api/populate.js
  src/api/post.js
  src/api/put.js
  src/components/button/Button.css
  src/components/button/Button.jsx
  src/config.js
Labels: test

#7 button style
  src/components/button/Button.css
Labels: type: css

#9 Daniel intro to surveys
  package-lock.json
  package.json
  src/App.js
  src/assets/li-icon.png
  src/pages/form/FormStart.css
  src/pages/form/FormStart.jsx
Labels: must-have, type: css, type: react

#10 Daniel intro to survey tweaks
  .vscode/settings.json
  src/assets/badge.png
  src/assets/wom3.png
  src/pages/form/FormStart.css
  src/pages/form/FormStart.jsx
  src/pages/form/badge/Badge.css
  src/pages/form/badge/Badge.jsx
  src/pages/form/text/Text.css
  src/pages/form/text/Text.jsx
  src/pages/form/title/Title.css
  src/pages/form/title/Title.jsx
Labels: must-have, type: css, type: react

#12 Mick feature navigation
  package-lock.json
  package.json
  src/components/button/Button.css
  src/components/navigation/Hamburger.jsx
  src/components/navigation/Logo.jsx
  src/components/navigation/Media.jsx
  src/components/navigation/NavData.jsx
  src/components/navigation/NavLinkItem.jsx
  src/components/navigation/NavLinksMobile.jsx
  src/components/navigation/Navigation.jsx
  src/components/navigation/Navlinks.jsx
  src/components/navigation/navigation.css
  src/index.css
  src/pages/companies/CompanyStart.jsx
  src/pages/companies/company.css
  src/pages/form/FormStart.css
  src/pages/form/FormStart.jsx
  src/pages/home/Header.jsx
  src/pages/home/Home.jsx
  src/pages/home/home.css
Labels: must-have, type: css, type: react

#13 home.css update
  src/pages/home/home.css
Labels: fix

#14 Daniel 8 badges
  .vscode/settings.json
  package-lock.json
  package.json
  src/App.js
  src/components/navigation/navigation.css
  src/pages/about-badges/AboutBadges.css
  src/pages/about-badges/AboutBadges.jsx
  src/pages/form/FormStart.css
  src/pages/form/FormStart.jsx
  src/pages/form/badge/Badge.jsx
  src/pages/home/Header.jsx
Labels: must-have, type: css, type: react

#15 Questionnaire
  .vscode/settings.json
  package-lock.json
  package.json
  src/App.js
  src/api/put.js
  src/components/button/Button.css
  src/components/button/Button.jsx
  src/components/navigation/Navigation.jsx
  src/components/navigation/Navlinks.jsx
  src/index.css
  src/logic/badgeCalc.js
  src/pages/congratulate/Congratulate.css
  src/pages/congratulate/Congratulate.jsx
  src/pages/form/Form.css
  src/pages/form/Form.jsx
  src/pages/form/FormStart.css
  src/pages/form/FormStart.jsx
Labels: must-have, type: css, type: react

#18 about us page with dummy content
  src/App.js
  src/components/navigation/NavLinks.jsx
  src/pages/about-us/AboutUs.css
  src/pages/about-us/AboutUs.jsx
Labels: must-have, type: css, type: react

#20 reworked components, css updates
  src/App.js
  src/components/navigation/NavData.jsx
  src/index.css
  src/pages/companies/CompanyDetail.jsx
  src/pages/companies/CompanyFilter.jsx
  src/pages/companies/CompanyFilterBar.jsx
  src/pages/companies/CompanyHeader.jsx
  src/pages/companies/CompanyHome.jsx
  src/pages/companies/CompanyList.jsx
  src/pages/companies/CompanyListItem.jsx
  src/pages/companies/CompanySearch.jsx
  src/pages/companies/List.jsx
  src/pages/companies/ListItem.jsx
  src/pages/companies/SectorFilter.jsx
  src/pages/companies/company-home.css
  src/pages/home/home.css
Labels: must-have, type: css, type: react

#23 Aviv update survey
  src/App.js
  src/logic/badgeCalc.js
  src/pages/companies/CompanyDetail.jsx
  src/pages/companies/CompanyHome.jsx
  src/pages/form/Form.css
  src/pages/form/Form.jsx
  src/pages/home/Header.jsx
Labels: fix

#26 Aviv feature signup
  src/App.js
  src/api/post.js
  src/components/navigation/NavData.jsx
  src/pages/form/Form.jsx
  src/pages/login/LogIn.css
  src/pages/login/LogIn.jsx
  src/pages/signup/SignUp.css
  src/pages/signup/SignUp.jsx
Labels: must-have, type: css, type: react

#27 Daniel company details page
  src/App.js
  src/pages/companies/CompanyDetail.jsx
  src/pages/companies/company-detail/CompanyBadge.jsx
  src/pages/companies/company-detail/CompanyDetail.css
  src/pages/companies/company-detail/CompanyDetail.jsx
  src/pages/home/Header.jsx
Labels: must-have, type: react

#28 feature login/logout
  package-lock.json
  package.json
  src/components/navigation/NavDataLogIn.jsx
  src/components/navigation/NavLinks.jsx
  src/global.js
  src/pages/congratulate/Congratulate.jsx
  src/pages/form/FormStart.jsx
  src/pages/login/LogIn.css
  src/pages/login/LogIn.jsx
  src/pages/signup/SignUp.jsx
Labels: must-have, type: css, type: react

#29 Aviv fix survey
  src/logic/badgeCalc.js
  src/pages/form/Form.jsx
Labels: fix

#31 css changes and added mediaqueries
  src/pages/about-badges/AboutBadges.css
Labels: type: css

#33 css tweaks to about us and intro to form pages
  src/pages/about-us/AboutUs.css
  src/pages/form/FormStart.css
  src/pages/form/badge/Badge.css
Labels: type: css

#34 Aviv css patch
  .vscode/settings.json
  src/pages/form/Form.css
  src/pages/login/LogIn.css
  src/pages/login/LogIn.jsx
  src/pages/signup/SignUp.css
  src/pages/signup/SignUp.jsx
Labels: type: css

#35 about us cards
  src/pages/about-us/AboutUs.css
  src/pages/about-us/AboutUs.jsx
  src/pages/about-us/AboutUsCard.jsx
  src/pages/companies/CompanyHome.jsx
Labels: must-have, type: css, type: react

#37 Daniel about us cards css
  src/pages/about-us/AboutUs.css
  src/pages/about-us/AboutUs.jsx
  src/pages/about-us/AboutUsCard.jsx
Labels: type: css, type: react

#44 Mick css updates
  package-lock.json
  package.json
  src/assets/Kuli-header.png
  src/assets/kuli-main.png
  src/pages/about-us/AboutUs.jsx
  src/pages/companies/CompanyHome.jsx
  src/pages/companies/CompanyList.jsx
  src/pages/companies/CompanyListItem.jsx
  src/pages/companies/CompanySearch.jsx
  src/pages/companies/company-home.css
  src/pages/form/Form.css
  src/pages/home/Header.jsx
  src/pages/home/home.css
Labels: must-have, type: css, type: react

#49 css about badges page with new badges
  src/pages/about-badges/AboutBadges.css
Labels: type: css

#51 Aviv logic fix
  src/logic/badgeCalc.js
  src/pages/form/FormStart.jsx
Labels: fix

#52 Development
  src/assets/kuli-main-v2.png
  src/logic/badgeCalc.js
  src/pages/about-badges/AboutBadges.css
  src/pages/about-badges/AboutBadges.jsx
  src/pages/companies/CompanyHome.jsx
  src/pages/companies/CompanyList.jsx
  src/pages/companies/CompanyListItem.jsx
  src/pages/companies/company-home.css
  src/pages/form/FormStart.jsx
  src/pages/form/badge/Badge.jsx
  src/pages/home/Header.jsx
Labels: fix

#53 Mick css updates
  src/assets/github-logo.svg
  src/assets/kuli-logo-light.svg
  src/components/footer/Footer.jsx
  src/components/footer/FooterHome.jsx
  src/components/footer/footer.css
  src/components/navigation/NavLinkItem.jsx
  src/components/navigation/Navigation.jsx
  src/components/navigation/navigation.css
  src/index.css
  src/pages/about-badges/AboutBadges.css
  src/pages/about-badges/AboutBadges.jsx
  src/pages/about-us/AboutUs.css
  src/pages/about-us/AboutUs.jsx
  src/pages/companies/CompanyHome.jsx
  src/pages/companies/CompanyList.jsx
  src/pages/companies/company-detail/CompanyBadge.jsx
  src/pages/companies/company-detail/CompanyDetail.css
  src/pages/companies/company-detail/CompanyDetail.jsx
  src/pages/companies/company-home.css
  src/pages/congratulate/Congratulate.css
  src/pages/congratulate/Congratulate.jsx
  src/pages/form/Form.css
  src/pages/form/FormStart.css
  src/pages/form/FormStart.jsx
  src/pages/form/badge/Badge.css
  src/pages/home/Header.jsx
  src/pages/home/Home.jsx
  src/pages/home/home.css
  src/pages/login/LogIn.css
  src/pages/login/LogIn.jsx
  src/pages/signup/SignUp.css
  src/pages/signup/SignUp.jsx
Labels: must-have, type: css, type: react

#56 Development
  src/assets/github-logo.svg
  src/assets/kuli-logo-light.svg
  src/components/footer/Footer.jsx
  src/components/footer/FooterHome.jsx
  src/components/footer/footer.css
  src/components/navigation/NavLinkItem.jsx
  src/components/navigation/Navigation.jsx
  src/components/navigation/navigation.css
  src/index.css
  src/pages/about-badges/AboutBadges.css
  src/pages/about-badges/AboutBadges.jsx
  src/pages/about-us/AboutUs.css
  src/pages/about-us/AboutUs.jsx
  src/pages/companies/CompanyHome.jsx
  src/pages/companies/CompanyList.jsx
  src/pages/companies/company-detail/CompanyBadge.jsx
  src/pages/companies/company-detail/CompanyDetail.css
  src/pages/companies/company-detail/CompanyDetail.jsx
  src/pages/companies/company-home.css
  src/pages/congratulate/Congratulate.css
  src/pages/congratulate/Congratulate.jsx
  src/pages/form/Form.css
  src/pages/form/FormStart.css
  src/pages/form/FormStart.jsx
  src/pages/form/badge/Badge.css
  src/pages/home/Header.jsx
  src/pages/home/Home.jsx
  src/pages/home/home.css
  src/pages/login/LogIn.css
  src/pages/login/LogIn.jsx
  src/pages/signup/SignUp.css
  src/pages/signup/SignUp.jsx
Labels: type: css, fix
